
<div class="Formbox">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
         <label>
         Navn
         <input type="text" formControlName="Name" >
          </label>
    
          <label>
            Telefon
            <input type="number" formControlName="phoneNumber">
            
         </label>
    
         <label>
                 Email
                <input type="text" formControlName="Email">
                
          </label>
    
          <label>
              Din besked
              <textarea rows="10" id="title" name="title" formControlName="Text"></textarea>
          </label>
    
          <button type="submit">Submit</button>
    </form> 
    <p>Hej medx dig</p>